/* allItems.module.css */

.allItems {
    height: 100vh;
    overflow-y: scroll;
    margin: 10px;
    font-family: Arial, sans-serif;
  }
  
  .filters {
    margin-bottom: 20px;
  }
  
  .filterLabel {
    margin-right: 10px;
  }
  
  .prioritySelect {
    padding: 5px;
    font-size: 14px;
  }
  
  .datePicker {
    padding: 5px;
    font-size: 14px;
  }
  
  .noItemsMessage {
    font-style: italic;
    color: #888;
  }
  
  .dateGroup {
    gap: 10px;
    margin: 20px;
  }
  
  .dateHeading {
    margin-top: 10px;
    font-size: 18px;
    color: #333;
  }
  /* allItems.module.css */

.itemList {
    width: 100%;
    display: flex;
    overflow-x: auto; /* Enable horizontal scrolling */
    gap: 10px;
    padding: 0;
  }
  
  .item {
    height: 300px;
    min-width: 300px; /* Set a minimum width to prevent items from shrinking */
    flex: 0 0 auto; /* Reset flex basis */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px; /* Add a gap between items */
    margin-top: 10px; /* Add margin-top to all items */
  }
  
  
  .itemName {
    font-weight: bold;
  }
  
  .itemNotes {
    color: #555;
  }
  
  .itemPriority {
    font-style: italic;
  }
  